doctype html 
html
  head
    title Sandeep Dance Academy!
    block scripts
    block style 
  body
    nav#navbar
         ul 
             div#logo
                img(src="static/logo5.png")

             li #[a(href="/home") Home]
             li #[a(href="/")  About ]
             li #[a(href="/") Services]
             li #[a(href="/") Contact Us]
    block content
    footer#footer 
      | Copyright©2024 SandeepDanceAcademy.com | All right reserved 